*{
    margin:0;
    padding:0;
}   
*, *:before, *:after {
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    }

    h1{
        font-size: 400%; 
        font-weight: 100;
        color: #FFF;
        letter-spacing:1px;
        word-spacing: 4px;
        line-height: 1.1;
        
    }
    
    h2{
        font-size: 250%; 
        font-weight: 100;
        letter-spacing:1px;
        word-spacing: 4px;
        
    }
    
    h3{
        font-size: 200%;
        font-weight: 400;
        
    }
    
    h4{
        font-size: 150%;
        font-weight: 200;
    }
    
    header h4{
        color: #FFF;
        margin-top: 5px;
    }    

header{
    background-image: url(midsummer50.png);
    background-size: cover;
    background-position: center;
    background-position: top;
    height: 100vh;
}

.header-text-box{
    position: absolute;
    margin-top: 450px;
    margin-left: 100px;
}

.header-text-box p{
    color: #69b0df;
}

.main-nav{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8px 100px;
    height: 70px;
    width: 100%;
}



.nav-item a{
    font-size: 120%;
    font-weight: 350;
    color: #FFF;
    margin-left: 50px;
    margin-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container{
    text-align:left;
    width: 100%;
    margin: auto;  
}

.location{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    padding: 20px 0px;
}

.location img{
    height: 30px;
    width: 30px;
    margin: 5px;
}

.about-me{
    width: 100%;
    padding: 50px 100px 0px 100px;
}

.about-me h2{
    color: #10334a;
    text-transform: uppercase;
}

.about-me-text{
    text-align: justify;
}

.background-matrix{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 200px 50px 200px;
    justify-content: space-between;
    justify-items: flex-start;
}

.former-employers{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px 0px 0px 200px;
    width: 50%;
}

.employer-item{
    width: 100%;
    height:fit-content;
    margin-top: 20px;
}

.meniga{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}

.secret-sales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}

.groupon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}

.employer-item img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.education{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px 0px 0px 0px;
    width: 50%;
}

.education-item{
    width: 100%;
    height:fit-content;
    margin-top: 20px;
}

.education-item img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.employment-education{
    display: flex;
}

.certificates-headline{
    padding-left: 200px;
    padding-top: 50px;
}

.certificates{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-around;
    padding: 10px 200px 0px 200px;
    width: 100%;
}

.certificate-item-1{
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    width: 50%;
    height:fit-content;
    margin-top: 20px;
    padding: 0px;
    flex-direction: column;
}

.certificate-item-2{
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    width: 50%;
    height:fit-content;
    margin-top: 20px;
    padding: 0px;
    flex-direction: column;
}

.certificate-item-1 img{
    height: 75px;
    width: 75px;
    border-radius: 50%;

}

.certificate-item-2 img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.awards-headline{
    padding-left: 200px;
    padding-top: 50px;
}
.awards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-around;
    padding: 10px 200px 0px 200px;
    width: 100%;
}

.award-item-1{
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    width: 50%;
    margin-top: 20px;
    padding-right: 60px;
    flex-direction: column;
    text-align: justify;
}

.award-item-2{
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    width: 50%;
    margin-top: 20px;
    padding: 0px;
    flex-direction: column;
    text-align: justify;
}

.award-item-1 img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.award-item-2 img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}



.portfolio{
    width: 100%;
    background-color: #103341;
    color: #FFF;
    margin-top: 50px;
    border: 2px solid #000000;
    padding: 50px 100px 100px 100px;
}

.portfolio h2{
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-start;
    margin-bottom: 50px;
}

.projects img{
    margin-right: 30px 30px;
    margin-top: 30px;
}    

.improvements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-start;

}

.improvements img{
    margin-right: 30px 30px;
    margin-top: 30px;
}   

.contact-me-container{
    width: 100%;
    padding: 50px 100px;
    border: 2px solid #000000;
    
}

.contact-me-container h2{
    color: #10334A;
}

.contact-me{
    padding: 50px 0px 0px 350px;
}

.email{
    display: flex;
    padding-top: 80px;
    margin-bottom: 30px;

}

.email img{
    padding-right: 40px;
}

.phone{
    display: flex;
    padding-bottom: 30px;
}

.phone img{
    padding-right: 40px;
}

.linkedin{
    display: flex;
    padding-bottom: 200px;
}

.linkedin img{
    padding-right: 40px;
}

.contact-me h2{
    color: #10334a;
    text-transform: uppercase;
}

.footer{
    width: 100%;
    background-color: #103341;
    color: #FFF;
    height: 150px;
    text-align: right;
    font-style: italic;
    font-size: 50%;
    font-weight: 100;
}

.footer h3{
    padding: 60px 50px;
}